
outputDir = '/data/xrz/HLA/output'

cleanup = true
workflow.output.mode = 'copy'

report.overwrite = true
timeline.overwrite = true

params {
    hlahd = { 
        def path = "which hlahd.sh 2>/dev/null".execute().text.trim()
        return path ?: null
    }()

    // refdir = null
}

process {
    cpus = 16
    maxForks = 5
    errorStrategy = 'ignore'


    // withName: 'CUTADAPT' {
    //     cpus = 6
    //     memory = '12 GB'
    // }


}

